{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% if applications|length > 0 %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->


<div class="content">
  <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ scheduledUpdate }}</h3>
                <p>{{ 'changelog.schedule_update' | trans({}, 'patchtracking')}}</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ isUpToDate }}</h3>

                <p>{{ 'changelog.up_to_date' | trans({}, 'patchtracking')}}</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{needUpdate}}</h3>

                <p>{{ 'changelog.not_up_to_date' | trans({}, 'patchtracking')}}</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->

        </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- /.card-header -->

          <div class="card-body p-0">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">{{ 'global.name' | trans({}, 'patchtracking')}}</th>
                  <th scope="col">{{ 'version.current' | trans({}, 'patchtracking')}}</th>
                  <th scope="col">{{ 'version.latest' | trans({}, 'patchtracking')}}</th>
                  <th scope="col">{{ 'global.status' | trans({}, 'patchtracking')}}</th>
                </tr>
              </thead>
              <tbody>
                {% for application in applications %}
                <tr>
                    <td> <a href="{{ path('applications', {id : application.id }) }}">{{ application.name }}</a> </td>
                    <td>{{ application.currentVersion }}</td>
                    <td>{{ application.latestVersion }}</td>
                    <td>
                        {% if application.currentVersion >= application.latestVersion %}

                            <span class="badge bg-success">{{ 'changelog.up_to_date' | trans({}, 'patchtracking')}}</span>
                        {% else %}
                        <span class="badge bg-primary">{{ 'changelog.available_update' | trans({}, 'patchtracking')}}</span>
                        {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>



          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
{% else %}

<div class="content vertical-center">
  <!-- Main content -->
  <section class="content">
    <div class="text-center">
      <h3 style="color: #6c757d;">Commencez par ajouter une application !</h3>
      <a href="{{ path('settings') }}" class="text-center">
        <i class="fas fa-plus-square fa-5x"></i>
      </a>

    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->
</div>
{% endif %}

{% endblock %}


