<div class="modal fade" id="modal-{{changelog.id}}">
  <div class="modal-dialog modal-default">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Informations</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="">{{ 'version.oldest' | trans({}, 'patchtracking')}}</label>
            <input type="text" disabled class="form-control" value="{{changelog.updateVersionFrom}}">
          </div>

          <div class="col-md-6">
            <label for="">{{ 'version.new' | trans({}, 'patchtracking')}}</label>
            <input type="text" disabled class="form-control" value="{{changelog.updateVersionTo}}">
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="">{{ 'changelog.scheduled_date' | trans({}, 'patchtracking')}}</label>
            <input type="text" disabled class="form-control" value="{{changelog.updateScheduleAt | format_datetime('short', 'none', locale='fr')}}">

          </div>
          <div class="col-md-6">
            <label for="">{{ 'changelog.effective_date' | trans({}, 'patchtracking')}}</label>
            <input type="text" disabled class="form-control" value="{{changelog.updateDate | format_datetime('short', 'none', locale='fr')}}">
          </div>
        </div>

        <div class="mt-2">
          <label for="">{{ 'changelog.done_by' | trans({}, 'patchtracking')}}</label>
          <input type="text" disabled class="form-control" value="{% if changelog.updateBy %}{{ changelog.updateBy.getFullName }}{% endif %}">
        </div>

        <div class="mt-2">
          <label for="">{{ 'changelog.comment' | trans({}, 'patchtracking')}}</label>
          <textarea type="textarea" disabled class="form-control">{{ changelog.comment }}</textarea>
        </div>

        {% if changelog.reportFilename %}
        <div class="mt-3">

        <a class="btn btn-info btn-sm" href="{{ asset('uploads/reports/' ~ changelog.reportFilename) }}">
          <i class="fas fa-eye"></i> Voir le rapport
        </a>

        </div>
        {% endif %}
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'global.close' | trans({}, 'patchtracking')}}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
